body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.battery {
    background-color: #ffffff;
    position: absolute;
    top: 10px;
    right: 10px;
}

.clock {
    margin-top: 50px;
    font-size: 48px;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    display: inline-block;
}

#time-display {
    background-color: #fff;
}

.alarm {
    margin-top: 20px;
}

.alarm-list {
    margin-top: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
}

#alarm-items {
    list-style-type: none;
    padding: 0;
}
